
header, footer {
    padding: 1em;
    color: black;
    background-color: white;
    cleard: left;
    
}
.hea{
	width:100%;
	height:200px
    
    margin: 10px;
  
}

div.inline { 
	float:right;
	font-size:12pt;
	
	
	color:#23238e;
 }

a{
	
	
font-family: 'Copperplate / Copperplate Gothic Light', sans-serif;
	 text-decoration: none;
	
}


.footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: #476B78;
  text-align: center;
}



